.contact-container {
  max-width: 1200px;
  width: 100%;
  min-height: 95vh;
  padding: 100px 40px 40px;
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.9);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

label {
  font-size: 18px;
  font-weight: 400;
  color: #d1d1d1;
}

input, textarea {
  background: rgba(27, 30, 43, 0.85);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  background: #00ff00;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #33ff33;
  box-shadow: 0 0 10px #00ff00;
}

.error-message {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.success {
  color: #28a745;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 1rem;
}
