:host {
  display: block;
  scroll-behavior: smooth;
  padding: 1rem;
}

form .field {
  margin-bottom: 1rem;
}

#matrix-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: auto !important;
  min-height: 100vh !important;
  background: transparent !important;
  z-index: -10;
  opacity: 0.8;
  filter: blur(1px);
  pointer-events: none;
}
