/* You can add global styles to this file, and also import other style files */
 body.dark-mode {
  background-color: #121212;
  color: #1E3A8A;
}

body.dark-mode a {
  color: #1E3A8A;
}


/* === GLOBAL === */
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(44, 62, 80, 0.9);
}


/* === TEXTES & LIENS === */
h1, h2, h3 {
  color: #00ff00;
}
a {
  color: #00ccff;
  text-decoration: none;
}
a:hover {
  color: #0088cc;
}


input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.text-content {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #d1d1d1;
}

/* === BOUTONS === */
.p-button {
  background-color: #007bff !important;
  color: white !important;
  border-radius: 5px;
}
.p-button:hover {
  background-color: #0056b3 !important;
}
