.terminal-text {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #00FF9F;
  text-shadow: 0 0 10px rgba(0, 255, 159, 0.8);
  animation: flicker 1.5s infinite alternate;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.profile-img {
  width: 150px;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

a.d-block {
  display: block;
  padding: 5px;
}
