<div class="about-container">
  <p>> <span class="terminal-text">{{ dynamicTitle }}|</span></p>

  <div class="profile">
    <img src="assets/profile.jpg" alt="Photo de profil" class="profile-img">
    <h1>Bienvenue !</h1>
    <p class="profile-description">Je suis <strong>Youssef Massaoudi</strong>, consultant Full Stack Java/Angular avec <strong>{{ yearsOfExperience }} ans d'expérience</strong> {{ presentation }}</p>
    <p-button label="📄 Télécharger mon CV" icon="pi pi-download" class="cv-button" severity="info" (click)="downloadCV()">
    </p-button>
  </div>

  <h2>Compétences</h2>
  <div class="skills">
    <p-tag *ngFor="let skill of skills" severity="info">{{ skill }}</p-tag>
  </div>

  <h2>Portfolio</h2>
  <p-carousel
    [value]="projects"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="4000"
    [attr.aria-hidden]="false">

    <ng-template pTemplate="item" let-project>
      <div class="project-card">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <a [routerLink]="['/portfolio', project.id]">
          <p-button label="🔗 Voir le détail" icon="pi pi-external-link" severity="success"></p-button>
        </a>
      </div>
    </ng-template>
  </p-carousel>

  <h2>Me contacter</h2>
  <a routerLink="/contact">Aller à la page Contact</a>
  <br>
  <a href="https://www.linkedin.com/in/youssef-massaoudi-90a2a990" target="_blank" rel="noopener noreferrer">
    <span> 🔗 Me contacter sur LinkedIn </span>
  </a>
</div>
